# Ambiente virtual
/.venv

# Configurações sensíveis
/config.py

# Cache e arquivos temporários
/__pycache__
forms_type/__pycache__/*
models/__pycache__/*
/routes/__pycache__/*

# Banco de dados local (não versionar)
/instance/*

# Fotos de perfil dos usuários (não versionar)
/static/profile_pics/