{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4">Adicionar Produto</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control", style="border:1.5px solid {{ '#dc3545' if form.nome.errors else '#232936' }};") }}
        </div>
        <div class="mb-3">
            {{ form.descricao.label(class="form-label") }}
            {{ form.descricao(class="form-control", style="border:1.5px solid {{ '#dc3545' if form.descricao.errors else '#232936' }};") }}
        </div>
        <div class="mb-3">
            {{ form.preco_compra.label(class="form-label") }}
            {{ form.preco_compra(class="form-control", style="border:1.5px solid {{ '#dc3545' if form.preco_compra.errors else '#232936' }};") }}
        </div>
        <div class="mb-3">
            {{ form.preco_venda.label(class="form-label") }}
            {{ form.preco_venda(class="form-control", style="border:1.5px solid {{ '#dc3545' if form.preco_venda.errors else '#232936' }};") }}
        </div>
        <div class="mb-3">
            {{ form.quantidade_estoque.label(class="form-label") }}
            {{ form.quantidade_estoque(class="form-control", style="border:1.5px solid {{ '#dc3545' if form.quantidade_estoque.errors else '#232936' }};") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-success w-100") }}
        </div>
    </form>
</div>
{% endblock %} 